<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/tx
						http://www.springframework.org/schema/tx/spring-tx.xsd
						http://www.springframework.org/schema/aop
                     	http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

	<!-- Référence vers les méthodes stubs <import resource="classpath*:/WEB-INF/stubContactContext.xml" 
		/> R-Try import -->

	<!-- Data source déduite du hibernate config -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/hibernate_db" />
		<property name="username" value="root" />
		<property name="password" value="" />
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<!-- retrieve conf from cfg: http://stackoverflow.com/questions/471799/spring-and-hibernate-cfg-xml -->
  <property name="dataSource">
     <ref bean="dataSource"/>
   </property>
  <property name="hibernateProperties">
     <props>
       <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
       <prop key="hibernate.hbm2ddl.auto">create</prop>
       <prop key="connection.pool_size">1</prop>
       <prop key="hibernate.format_sql">true</prop>
       <!--  
       <prop key="hibernate.cache.use_query_cache">true</prop>
	   <prop key="hibernate.cache.use_second_level_cache">true</prop>
       <prop key="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</prop>
        <prop key="hibernate.generate_statistics">true</prop>-->
               
     </props>
   </property>
   <property name="mappingResources">
     <list>
       <value>domain/Contact.hbm.xml</value>
       <value>domain/Address.hbm.xml</value>
	   <value>domain/PhoneNumber.hbm.xml</value>
       <value>domain/ContactGroup.hbm.xml</value>
     </list>
   </property> 
	</bean>
	
	 <bean id="hibernateTemplate" class="org.springframework.orm.hibernate4.HibernateTemplate">  
    <property name="sessionFactory" ref="sessionFactory"></property>  
    </bean>  

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	
	
		<tx:advice id="txAdvice">
		<tx:attributes>
			<tx:method name="get*" read-only="true" timeout="-1" />
			<tx:method name="sav*" propagation="REQUIRED" read-only="false" />
			<tx:method name="find*" read-only="true" />
			<tx:method name="create*" read-only="false" />
			<tx:method name="add*" read-only="false" />
			<tx:method name="generate*" read-only="false" />
			<tx:method name="modify*" read-only="false" />
			<tx:method name="delete*" propagation="REQUIRED" />
			 <tx:method name="*" />
		</tx:attributes>
	</tx:advice>

	<aop:config>
    <aop:pointcut id="contactServiceOperation"
        expression="execution(* service.ContactService.*(..))" />
    <aop:advisor advice-ref="txAdvice" pointcut-ref="contactServiceOperation" />
</aop:config>

	
	
	
	
	
	
	<!-- Service implem -->
	<bean id="ContactService" class="service.ContactService" scope="singleton">
		<property name="daoContact" ref="DAOContact" />
		<property name="daoContactGroup" ref="DAOContactGroup" />
	</bean>


	<!-- ** Dao Implems ** -->


	<bean id="DAOContact" class="dao.impl.DAOContactImpl" scope="singleton">

		<constructor-arg>
			<ref bean="DAOContactGroup" />
		</constructor-arg>
				<property name="sessionFactory" ref="sessionFactory" />
		<!-- <property name="sessionFactory" ref="sessionFactory" /> -->
	</bean>
	<bean id="DAOContactGroup" class="dao.impl.DAOContactGroupImpl" scope="singleton">
		<property name="sessionFactory" ref="sessionFactory" />
		<!-- <property name="sessionFactory" ref="sessionFactory" /> -->
	</bean>


</beans>